header .header-brand {
    font-family: "Audi Extended Normal", Verdana, sans-serif;
}

header .header-center {
    text-align: right;
}

header .header-address {
    font-family: "Audi Extended Normal", Verdana, sans-serif;
}

header .header-logo {
    background-repeat: no-repeat;
}

.app-header {
    font-family: "Audi Extended Bold", Verdana, sans-serif;
}

.app-header__list ul,
.app-header__test p {
    cursor: pointer;
    padding: 14px 0 8px;
}

.app-header__list ul {
    list-style: none;
    padding-left: 0px;
    display: inline-block;
}

.app-header__list ul:last-child {
    display: inline-flex;
    margin-left: 2%;
}

.app-header__list ul>li {
    display: inline-block;
}

.app-header__list ul:last-child li {
    display: block;
}

.app-header__list ul span.rs {
    padding-left: 29px;
    background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%2031%2032%2032%22%3E%3Cpath%20d%3D%22M13.2%2036.7L2%2057.3h18.7L30%2036.7%22%20fill%3D%22%23cc0033%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%2031h32v32H0z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position-y: 50%;
}

.app-header__list ul :last-child {
    padding-right: 0px;
}

.app-header__list ul li>span {
    cursor: pointer;
}

.app-header__list ul li>span.active {
    background-color: white;
}

.app-header-separator {
    display: block;
    border-top: lightgray 1px solid;
}

.car-sale-item {
    padding: 20px 26px 0;
}

.car-sale-item span.left-space {
    padding: 0;
}

.car-image {
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.car-name {
    margin-top: 8px;
    height: 40px;
}

.car-name__model {
    font-family: "Audi Extended Bold", Verdana, sans-serif;
    font-size: 17px;
    line-height: 17px;
    cursor: pointer;
}

.car-name__number {
    line-height: 14px;
    font-size: 12px;
    font-style: italic;
}

.car-price {
    padding-top: 5px;
    font-family: "Audi Bold", Verdana, sans-serif;
    font-size: 30px;
    line-height: 36px;
}

.car-price__general {
    display: inline-block;
    height: 17px;
    border-bottom: 1px solid;
}

.car-price__special {
    color: #bb0a30;
}

.btn__action {
    background: darkgrey;
    color: white;
    display: inline-block;
    font-size: 17px;
    padding: 9px 16px;
    margin-top: 8px;
    cursor: default;
}

.btn__active {
    background: #bb0a30;
    cursor: pointer;
}

.btn__right {
    float: right;
}

.showmore {
    cursor: pointer;
}

.config-modal-enter-active,
.config-modal-leave-active {
    transition: opacity .5s;
}

.modal {
    position: relative;
    width: 32em;
    margin: 2em auto;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modal-content {
    padding: 0.7em 1.6em 1.8em;
}

.modal-content h3 {
    font-family: "Audi Extended Bold", Verdana, sans-serif;
    font-size: 24px;
    line-height: 30px;
}

.modal-close {
    color: white;
    background-color: black;
}

.form-horizontal .control-label {
    text-align: left;
    font-weight: normal;
}

.form-control {
    border: none;
    border-bottom: 1px solid;
    box-shadow: none;
    border-radius: 0px;
    padding: 6px 2px;
}

.form-group .checkbox label,
.form-group .checkbox span {
    font-size: 10px;
    display: inline-block;
    min-height: 15px;
    cursor: pointer;
}

.form-group .checkbox input {
    margin-top: 1px;
    opacity: 0;
}

label .checkbox__icon {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #b7b1aa;
    text-align: center;
    line-height: 18px;
    margin-right: 5px;
    position: absolute;
}

label .checkbox__icon::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolygon fill='%23333333' points='4.945 12 0 7.699 0.667 6.92 4.708 10.435 11.132 0 12 0.543 4.945 12' /%3E%3C/svg%3E") center center no-repeat;
    opacity: 0;
}

label input:checked+.checkbox__icon::before {
    opacity: 1;
}

label input:checked+.checkbox__icon {
    border-color: #010001;
}

.form-group .filderror {
    font-size: 50%;
    margin-bottom: -15px;
}

.form-group .checkbox {
    padding: 10px;
    line-height: 15px;
}

.personal-data {
    height: 300px;
    overflow-y: auto;
    font-size: 10px;
}

#map {
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
}

.disclaimer {
    margin: 20px 0 10px;
}

.disclaimer p {
    font-size: 10px;
}

.space__1 {
    min-height: 20px;
}

.space__2 {
    min-height: 40px;
}

.space__3 {
    min-height: 80px;
}

.loader,
.spinner__inner {
    display: inline-block;
    margin: auto 2em;
    vertical-align: middle;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.3em solid rgba(34, 34, 34, 0.2);
    border-right: 0.3em solid rgba(34, 34, 34, 0.2);
    border-bottom: 0.3em solid rgba(34, 34, 34, 0.2);
    border-left: 0.3em solid #222222;
    transform: translateZ(0);
    animation: show 0.2s, load8 0.7s infinite linear;
}

.red {
    color: #bb0a30;
}

.bold {
    font-weight: bold
}

.extbold {
    font-family: "Audi Extended Bold", Verdana, sans-serif;
}

@media (max-width: 767px) {
    header {
        height: 10vw;
        margin-bottom: 0em;
        padding-bottom: 2vw;
        padding-top: 2vw;
        height: 14vw;
    }
    .header-brand {
        font-size: 2.2vw;
        line-height: 4vw;
        text-align: left;
        padding-top: 0;
        height: 10vw;
    }
    .header-center {
        font-size: 1.6vw;
        margin-right: 4vw;
        line-height: 2vw;
        padding-top: 2.3vw;
        height: 10vw;
    }
    .header-logo {
        background-position: 100% 50%;
        background-size: 22vw;
        margin-left: -6vw;
        height: 10vw;
    }
    .main-img {
        padding-left: 0px;
        padding-right: 0px;
    }
    h1.page-h1,
    h2.page-h1 {
        font-size: 4vw;
        line-height: 5vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    h2.page-h1 {
        margin-bottom: 2vw;
    }
    .page-text p {
        font-size: 3vw;
    }
    .page-text ul {
        padding-left: 7vw;
    }
    .page-text ul li {
        font-size: 3vw;
    }
    .app-header__test p {
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .app-header__list ul,
    .app-header__test p {
        font-size: 5vw;
    }
    .app-header__list ul {
        text-align: center;
        padding-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .app-header__list ul:last-child {
        display: block;
        margin-left: 0;
        margin-bottom: 10px;
        padding-top: 0px;
    }
    .app-header__list ul:last-child li {
        width: 100%;
    }
    .app-header__list ul>li {
        width: 18vw;
        text-align: center;
    }
    .app-header__list ul>li:nth-child(5n) {
        padding-right: 0px;
    }
    .app-header__list ul span.rs {
        margin-left: -7vw;
        padding-left: 7vw;
        background-size: 7vw;
    }
    .car-sale-item {
        padding: 5vw 2vw 0;
    }
    .car-sale-item span.left-space {
        padding: 0;
        width: 100%;
    }
    .car-image {
        height: 43vw;
    }
    .car-name {
        padding: 0 2vw;
        height: 16vw;
    }
    .car-price {
        padding: 0 1.8vw 2vw;
    }
    .car-price>div {
        font-size: 8.8vw;
        line-height: 10vw;
        text-align: center;
    }
    .car-price__general {
        height: 5vw;
        border-bottom: 2px solid;
    }
    .car-price__prohibited {
        font-size: 4.7vw;
        line-height: 9vw;
    }
    .car-name__model {
        text-align: left;
        font-size: 4vw;
        line-height: 4vw;
    }
    .car-name__number {
        text-align: left;
        font-size: 3vw;
        line-height: 4vw;
    }
    .car-action {
        padding: 0 7%;
    }
    .btn__action {
        width: 100%;
        font-size: 4.7vw;
        font-weight: bold;
        padding: 2vw 6vw;
        text-align: center;
    }
    .form-horizontal .control-label {
        font-size: 4vw;
        line-height: 5vw;
    }
    .form-group .checkbox label,
    .form-group .checkbox span {
        font-size: 2.8vw;
        line-height: 8vw;
    }
    label .checkbox__icon {
        width: 5vw;
        height: 5vw;
        top: 1vw;
        left: 1vw;
    }
    label .checkbox__icon::before {
        width: 100%;
        height: 100%;
    }
    label input:checked+.checkbox__icon::before {
        opacity: 1;
    }
    label input:checked+.checkbox__icon {
        border-color: #010001;
    }
    .form-group .checkbox label {
        margin-left: 0.7vw;
    }
    .form-group .checkbox input {
        width: 6vw;
        height: 7vw;
        margin-left: -8vw;
    }
    input.form-control {
        font-size: 5vw;
        padding: 2px 0px;
        height: 7vw;
    }
    .showmore {
        font-size: 6vw;
    }
    .modal {
        width: 100%;
    }
    .modal-content {
        padding: 2em 0 1em;
    }
    .modal-content h3 {
        font-size: 5vw;
        line-height: 6vw;
    }
    .modal-content h3 small {
        font-size: 3vw;
        line-height: 3vw;
    }
    .modal-close {
        font-size: 7vw;
        font-weight: normal;
        border-left: 2px solid;
        border-bottom: 2px solid;
        padding-left: 3vw;
    }
    .personal-data {
        height: 66vh;
        overflow-y: auto;
        font-size: 3vw;
    }
    .complectation-list-caption,
    .contacts-working-time {
        font-size: 4vw;
        font-weight: bold;
    }
    .complectation-list-summary,
    .contacts-text {
        font-size: 4vw;
    }
    #map {
        width: 100%;
        height: 70vh;
    }
    .disclaimer {
        margin: 6vw 0 3vw;
    }
    .disclaimer p {
        font-size: 2vw;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-brand {
        font-size: 13px;
        line-height: 13px;
    }
    .header-center {
        font-size: 12px;
        margin-right: -40px;
        line-height: 14px;
    }
    .header-logo {
        background-position: 100% 50%;
        height: 45px;
    }
    .app-header__list ul,
    .app-header__test p {
        font-size: 23px;
    }
    .app-header__test p {
        text-align: center;
    }
    .app-header__list ul:last-child {
        display: block;
        margin-left: 0;
    }
    .app-header__list ul:last-child li {
        text-align: center;
    }
    .app-header__list ul>li {
        padding-right: 30px;
    }
    .page-h1 {
        font-size: 23px;
        margin-bottom: 4px;
    }
    h2.page-h1 {
        margin-top: 4px;
        margin-bottom: 23px;
    }
    .car-image {
        height: 145px;
    }
    .car-price__prohibited {
        font-size: 14px;
        line-height: 19px;
    }
    .form-horizontal .control-label {
        font-size: 90%;
        line-height: 14px;
    }
    .form-group .checkbox label,
    .form-group .checkbox span {
        font-size: 13px;
        margin-bottom: 10px;
    }
    label .checkbox__icon {
        width: 18px;
        height: 18px;
        top: 0;
        left: 4px;
    }
    label .checkbox__icon::before {
        width: 100%;
        height: 100%;
    }
    label input:checked+.checkbox__icon::before {
        opacity: 1;
    }
    label input:checked+.checkbox__icon {
        border-color: #010001;
    }
    .showmore {
        font-size: 24px;
    }
    .modal {
        width: 47em;
    }
    .modal-content h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .modal-close {
        font-size: 24px;
        font-weight: normal;
        padding-left: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-brand {
        font-size: 13px;
        line-height: 13px;
    }
    .header-center {
        font-size: 12px;
        margin-right: 0px;
        line-height: 14px;
    }
    .header-logo {
        background-position: 100% 50%;
        height: 45px;
    }
    .app-header__list {
        float: left;
    }
    .app-header__test {
        float: right;
    }
    .app-header__test p {
        text-align: right;
    }
    .app-header__list ul,
    .app-header__test p {
        font-size: 15px;
    }
    .page-h1 {
        font-size: 30px;
        margin-bottom: 7px;
    }
    h2.page-h1 {
        margin-top: 7px;
        margin-bottom: 30px;
    }
    .modal-content h3 {
        font-size: 130%;
    }
    .car-image {
        height: 119px;
    }
    .car-price__prohibited {
        font-size: 14px;
        line-height: 19px;
    }
    .car-price {
        font-size: 160%;
        line-height: 28px;
    }
    .car-name__model,
    .btn__action,
    .form-horizontal .control-label {
        font-size: 90%;
        line-height: 14px;
    }
    .form-group .checkbox label,
    .form-group .checkbox span {
        font-size: 13px;
        margin-bottom: 10px;
    }
    label .checkbox__icon {
        width: 18px;
        height: 18px;
        top: 0;
        left: 4px;
    }
    label .checkbox__icon::before {
        width: 100%;
        height: 100%;
    }
    label input:checked+.checkbox__icon::before {
        opacity: 1;
    }
    label input:checked+.checkbox__icon {
        border-color: #010001;
    }
    .btn__action {
        padding: 7px 14px;
        margin-top: 6px;
    }
    .car-name__number {
        font-size: 64%;
    }
    .app-header__list ul>li {
        padding-right: 20px;
    }
    .modal {
        width: 34em;
    }
    .modal-content h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .modal-close {
        font-size: 24px;
        font-weight: normal;
        padding-left: 10px;
    }
    .loader-box {
        line-height: 60px;
    }
}

@media (min-width: 1200px) {
    .header-brand {
        font-size: 13px;
        line-height: 13px;
    }
    .header-center {
        font-size: 12px;
        margin-right: -40px;
        line-height: 14px;
    }
    .header-logo {
        background-position: 100% 50%;
        height: 45px;
    }
    .car-image {
        height: 152px;
    }
    .car-price__prohibited {
        font-size: 17px;
        line-height: 22px;
    }
    .app-header__list {
        float: left;
    }
    .app-header__test {
        float: right;
    }
    .app-header__test p {
        text-align: right;
    }
    .app-header__list ul,
    .app-header__test p {
        font-size: 19px;
    }
    .app-header__list ul>li {
        padding-right: 20px;
    }
    .page-h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    h2.page-h1 {
        margin-top: 10px;
        margin-bottom: 36px;
    }
    .form-group .checkbox label,
    .form-group .checkbox span {
        font-size: 10px;
        margin-bottom: 10px;
    }
    label .checkbox__icon {
        width: 18px;
        height: 18px;
        top: 0;
        left: 4px;
    }
    label .checkbox__icon::before {
        width: 100%;
        height: 100%;
    }
    label input:checked+.checkbox__icon::before {
        opacity: 1;
    }
    label input:checked+.checkbox__icon {
        border-color: #010001;
    }
    .modal {
        width: 34em;
    }
    .modal-content h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .modal-close {
        font-size: 24px;
        font-weight: normal;
        padding-left: 10px;
    }
    .loader-box {
        line-height: 64px;
    }
}